// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin nbastatistics_uitheme {
 
@include valo;

.container_chart{
padding-left:10px
}

.vertical-chart-wrap {
  font-family: sans-serif;
  height: 240px;
  width: 300px;

  .vertical-team-title {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 0.9em;
    padding: 0.5em 0 0em 0;
    text-align: center;
    white-space: nowrap;
  }
  
  .vertical-title {
    font-weight: bold;
    margin-top: 0px;
    font-size: 0.9em;
    padding: 0.5em 0 0.8em 0;
    text-align: center;
    white-space: nowrap;
  }
  
  &.verticalChart .verticalChart-grid {
    transform: translateY(-10px) translateX(80px) rotate(-90deg);

    .verticalChart-bar::after {
      transform: translateY(-50%) rotate(45deg);
      display: block;
    }

    &::before, &::after {
      transform: translateX(-0.2em) rotate(90deg);
    }
  }

  .verticalChart-grid {
    position: relative;
    padding: 5px 10px 5px 0;
    height: 150px;
    width: 150px;
    border-left: 2px solid #aaa;

    &::before {
      font-size: 0.8em;
      font-weight: bold;
      content: '0%';
      position: absolute;
      left: -0.5em;
      top: -1.5em;
    }

    &::after {
      font-size: 0.8em;
      font-weight: bold;
      content: '100';
      position: absolute;
      right: -1.5em;
      top: -1.5em;
    }
  }

  .verticalChart-bar {
    width: var(--bar-value);
    height: 20px;
    margin: 15px 0;
    background-color: #f16335;
    border-radius: 0 3px 3px 0;

    &:hover {
      opacity: 0.9;
    }

    &::after {
      content: attr(data-name);
      font-size: 0.8em;
      margin-left: 100%;
      padding: 10px;
      display: inline-flex;
      white-space: nowrap;
    }
  }
}
}
