// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin nbastatistics_uitheme {
 
@include valo;

.v-grid-cell.bold {
   font-weight: bold;
}

.v-grid-cell.green {
   background: #3CB371;
   text-align:center;
   font-size: 14px;
   font-weight: bold;
   font-family:'Roboto';
}

.v-grid-cell.red {
   background: #ff7070;
   text-align:center;
   font-size: 14px;
   font-weight: bold;
   font-family:'Roboto';
}

.v-grid-cell.grey {
   background: #A9A9A9;
   text-align:center;
   font-size: 14px;
   font-weight: bold;
   font-family:'Roboto';
}

.pageHeader{
	text-align:center;
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 0 0;
}

.HomeTeamImage{
	padding-right: 10px;
	width: 100px;
	height:100px;
}

.AwayTeamImage{
	padding-left: 10px;
	width: 100px;
	height:100px;
}

.TeamLabel{
	margin-top:0px;
	margin-bottom:0px;
 	padding-left: 10px;
	text-align:left;
	font-size: 28px;
	font-weight: bold;
	background: lightgray;
}

.AwayTeamButton{
	width: 25%;
	text-align: center;
}

.HomeTeamButton{
	width: 25%;
	text-align: center;
}


.gridTopPlayers{
    border-right: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.HeaderTopPlayer{
  
    color:  #1570b5;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    margin: 0 0 0 0;

}

.RowTopPlayerName{
  
    font-style: 'Roboto' ;
    color: black;
    font-size: 14px;
    margin: 0 0 0 0;

}

.RowTopPlayerValue{
  
    font-style: 'Roboto' ;
    color: black;
    font-size: 14px;
    margin: 0 10px 0 0;
    padding-left: 5px;

}

.GridHeaderPlayerStats{
	width: 100%;
	height: 100%;
	background-color: #032f4f;
}

.PlayerStatsImage{
	float:left;
	margin: 10px 0 10px 10px;
	text-align: center;
	background-color: #032f4f;
	width: 65px;
	height:90px;
	top: 0px;
}

.PlayerStatsTeamImage{
	width: 60px;
	height:60px;
	padding-left:216px;
}

.PlayerStatsName{
	font-family:'Roboto';
	color:white;
	background-color: #032f4f;
	text-align: left;
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 0 0;
	padding-left: 10px;
	top: 0px;
	overflow:auto;
    display:block;
}

.PlayerStatsDescription{
	color:white;
	background-color: #032f4f;
	text-align: left;
	font-size: 26px;
	font-weight: bold;
	margin: 0 0 0 0;
	padding-left: 10px;
	overflow:auto;
    display:block;
}

.AverageSeasonStats{
	font-family:'Roboto';
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed ;
    width: 100% ;
    background-color: #032f4f;
    color: white;
}

  .AverageSeasonStats td, .AverageSeasonStats th {
    border: 1px solid white;
  }
  .AverageSeasonStats tr:first-child th {
    border-top: 0;
  }
  .AverageSeasonStats tr:last-child td {
    border-bottom: 0;
  }
  .AverageSeasonStats tr td:first-child,
  .AverageSeasonStats tr th:first-child {
    border-left: 0;
  }
  .AverageSeasonStats tr td:last-child,
  .AverageSeasonStats tr th:last-child {
    border-right: 0;
  }
  

.LineChart{
	width: 50%;
}

.GridHeaderCategoryPlayerStats th{
	font-family:'Roboto';
	font-size: 12px;
	font-weight: bold;
	background-color: #032f4f!important;
	color: white;
	word-wrap: break-word;
	background-image:none!important;
	white-space: normal!important;
	text-align: center;
	
	.v-grid-cell{
	display:contents!important;
	}
}

.GridHeaderCategoryPlayerStats .v-grid-column-header-content{
	line-height:20px!important;
}

}
